{% extends 'base.html' %}

{% block title %}
	Inicio -
{% endblock %}

{% block content %}
<div class="row">

	<div class="large-4 medium-6 small-12 columns">
        <div class="division-banner" style="background-image: url('static/img/logos_carreras/robotica.png')"></div>
        <div class="large-12 colums panel">
            <h3 class="text-center">Dise~o Grafico<h3>
            <div class="row">
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='/activar_usuarios'">Ver cursos</button>
                </div>
            </div>
        </div>
    </div>

	<div class="large-4 medium-6 small-12 columns">
        <div class="division-banner" style="background-image: url('static/img/logos_carreras/robotica.png')"></div>
        <div class="large-12 colums panel">
            <h3 class="text-center">Dise~o de interiores<h3>
            <div class="row">
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='/activar_usuarios'">Ver cursos</button>
                </div>
            </div>
        </div>
    </div>

	<div class="large-4 medium-6 small-12 columns">
        <div class="division-banner" style="background-image: url('static/img/logos_carreras/robotica.png')"></div>
        <div class="large-12 colums panel">
            <h3 class="text-center">Medios Digitales<h3>
            <div class="row">
                <div class="large-12 columns">
                    <button class="button expand" onclick="location.href='/activar_usuarios'">Ver cursos</button>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}